<!DOCTYPE html>
<html lang="en">

  <!-- partial for head -->
  <%- include('../partials/_head/_head') %>

<body>
  <h1 id="center">Add post</h1>

  <form action="/feed/post" method="post">
    <div id="center">
      <input type="text" name="img" placeholder="img" required>
      <input type="text" name="caption" placeholder="caption" required><br><br>
    
      <button input type="submit" class="btn btn-lg btn-outline-success">Add Post</button>
    </div>
  </form>
  <br>
  <div id="center">
    <button type="button" class="btn btn-sm btn-outline-danger" onclick="window.location.href='/feed'">Cancel Post</button>
  </div>


</body>
</html>