<!DOCTYPE html>
<html lang="en">

  <!-- partial for head -->
  <%- include('./partials/_head/_head') %>

<body>
  <h1>Doggie Instagram</h1>
  <p>Welcome and Doggie Instagram! Where dog lovers from all over can all come together and celebrate their canine companions.</p>

<a href="feed/">Will be a login</a>

</body>
</html>