<!DOCTYPE html>
<html lang="en">

  <!-- partial for head -->
  <%- include('./partials/_head/_head') %>

<body>
  <div id="center">
  <h1>Doggie Instagram</h1>
  <p>Welcome and Doggie Instagram! Where dog lovers from all over can all come together and celebrate their canine companions.</p>
  <img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2017/11/12235803/Boston-Terrier-On-White-03.jpg" alt="boston terrier"><br>

<!-- <a href="feed/">Take to feeds page while working on login Oauth</a><br> -->
<br>
<button type="button" class="btn btn-outline-primary" onclick="window.location.href='login/'">Login Here</button><br>
<br>
<button type="button" class="btn btn-outline-primary" onclick="window.location.href='newuser/'">Create a new user</button>
</div>
</body>
</html>