<!DOCTYPE html>
<html lang="en">

  <!-- partial for head -->
  <%- include('../partials/_head/_head') %>
<body>
  <h1>Doggie Instagram</h1>
  <p>Posts feed will display here</p>

  <!-- TODO posts is not defined so this doesn't work -->


<a href="/newpost">Post a new feed</a><br>

<a href="/">Will be a logout</a>

</body>
</html>

