<!DOCTYPE html>
<html lang="en">

  <!-- partial for head -->
  <%- include('../partials/_head/_head') %>
<body>
  <div id="center">
  <h1>Doggie Instagram</h1>
  <p>Global post feeds will display here</p>

<button type="button" class="btn btn-lg btn-outline-success" onclick="window.location.href='/newpost'">Add New Post</button><br><br>


<a href="/">Will be a logout</a>
</div>
</body>
</html>

