<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title>Doggie Instagram</title>
</head>
<body>
  <h1>Doggie Instagram</h1>
  <p>Posts will display here</p>

<!-- <a href="/feed">Will be a login</a> -->

</body>
</html>